:root {
  --container-width: 1440px;

  // colors
  --dark-bg-color: #161d27;
  --dark-card-bg: #1f2732;
  --white-color: #fff;
  --gray-color: #4e555f;
  --yellow-color: #d1b06b;
  --light-gray-color: #d7d7d7;
  --light-gray-for-white: #909090;
  --light-cards-bg: #fbfbfb;
  --trans-dark-bg: rgb(31 39 50 / 85%);
  --review-card-bg: #2e3947;
  --alert-color: #793636;

  // --transp-bg-color: rgb(255 255 255 / 10%;
}
